*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	margin: 0px;
	font-family: Gisha;
	font-size:14px;	
}

.navbar-nav .nav-link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#Techbro-logo-ads {
    text-align: center;
    margin-top: 20px;
}

#Techbro-logo-ads img {
    height: 280px;
    width: 900px;
}

